{% extends "CTCoreBundle::layout.html.twig" %}



{% block body_core %}
    <div ui-view="" class="app-body" id="view">

        <!-- ############ PAGE START-->
        <div class="padding">
            <div class="row">
                <div class="col-sm-6">

                    <div class="swiper-wrapper purchase-box-wrapper plex-store" style="flex-wrap: nowrap; transform: translate3d(0px, 0px, 0px);">

                        <div class="swiper-slide item swiper-slide-active" data-hash="110" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer110 no-discount">
                                <div class="card-content">

                                    <div class="popular offer110">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-110.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">110 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">&nbsp;</div>
                                            <div class="discount-percentage">
                                                <p>&nbsp;<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€4,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€4,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€4,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl0_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl0$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item swiper-slide-next" data-hash="240" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer240 ">
                                <div class="card-content">

                                    <div class="popular offer240">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-240.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">240 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €0,90</div>
                                            <div class="discount-percentage">
                                                <p>9%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">220<span> + 20 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€9,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€9,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€9,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl1_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl1$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item" data-hash="500" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer500 ">
                                <div class="card-content">

                                    <div class="popular offer500">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-500.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">500 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €2,69</div>
                                            <div class="discount-percentage">
                                                <p>13%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">440<span> + 60 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€19,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€19,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€19,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl2_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl2$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item" data-hash="1100" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer1100 ">
                                <div class="card-content">

                                    <div class="popular offer1100">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-1100.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">1&nbsp;100 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €9,91</div>
                                            <div class="discount-percentage">
                                                <p>25%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">880<span> + 220 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€39,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€39,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€39,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl3_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl3$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item" data-hash="2860" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer2860 ">
                                <div class="card-content">

                                    <div class="popular offer2860">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-2860.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">2&nbsp;860 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €29,75</div>
                                            <div class="discount-percentage">
                                                <p>30%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">2&nbsp;200<span> + 660 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€99,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€99,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€99,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl4_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl4$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item" data-hash="7430" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer7430 ">
                                <div class="card-content">

                                    <div class="popular offer7430">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-7430.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">7&nbsp;430 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €87,06</div>
                                            <div class="discount-percentage">
                                                <p>35%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">5&nbsp;510<span> + 1&nbsp;920 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€249,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€249,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€249,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl5_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl5$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide item" data-hash="15400" style="width: 224px; margin-right: 5px;">


                            <div class="inner offer15400 ">
                                <div class="card-content">

                                    <div class="popular offer15400">
                                        le plus populaire
                                    </div>
                                    <div class="icon">
                                        <img class="plex-icon-gold" src="//web.ccpgamescdn.com/secure/images/plex/plex-icon-15400.png">

                                    </div>
                                    <div class="plex-info">
                                        <div class="quantity-container">
                                            <h1 class="quantity">15&nbsp;400 PLEX </h1>
                                        </div>
                                        <div class="discount-container ">
                                            <div class="discount-amount">Économisez €198,61</div>
                                            <div class="discount-percentage">
                                                <p>40%<span>Bonus</span></p>
                                                <img src="//web.ccpgamescdn.com/secure/images/plex/hexagon-form.png">
                                            </div>
                                            <div class="extra-plex">11&nbsp;020<span> + 4&nbsp;380 free</span></div>
                                        </div>
                                    </div>
                                    <div class="price-container">
                                        <div class="old-price">
                                                        <span class="strikethrough hidden">
                                                            <span class="normal">€499,99</span>
                                                        </span>
                                        </div>

                                        <h2 class="price ">€499,99
                                            <span class="strikethrough hidden">
                                                            <span class="normal">€499,99</span>
                                                        </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="button-pane">
                                    <a id="ctl00_ContentPlaceHolder1_lvOffers_ctrl6_Button1" class="btn-default" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ContentPlaceHolder1$lvOffers$ctrl6$Button1", "", true, "", "", false, true))'>Acheter</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- ############ PAGE END-->

    </div>
{% endblock %}



{% block body_scripts %}
    
{% endblock %}

